@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
  --navbar: #f0f5f9;
  --item-background: #c9d6df;
  --background: #262626;
  --secondary: #52616b;
  --black: #1e2022;
  --btn-active: #ffa273;
  --btn-hover: #0068d9;
}
